---
layout: default
---

<h3 class="fw-bold border-bottom pb-3 mb-5">Photography</h3>

<div class="container">
  <div class="row">
    {% for photo in site.data.photos %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ site.github.url }}/{{ photo.image }}" class="card-img-top" alt="Photo">
          {% if photo.caption %}
          <div class="card-body">
            <p class="card-text">{{ photo.caption }}</p>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
